html {
  --red-m: #e70112;
  --dark-red-m: #b20418;
  --blue-m: #30a3f9;
  --dark-blue-m: #426ac3;
  --gren-m: #24ca7a;
  --dark-green: #1da869;
  --yellow-m: #ffdf02;
  --dark-yellow-m: #fec300f8;
  --peach-m: #f096be;
  --dark-peach: #ff6898;
  --gray-m: #fafafa;
  --dark-gray-m: #e2dddd;
  --yoshi-m: #70b921;
  --dark-yoshi-m: #50a00f;
  --shadow-m: #b1a9a9;
}

.nav-menu {
  display: inline-block;
}

.menu {
  margin: 0; 
  padding: 0 20;
}

.menu li {
  display: inline-block;
}

.menu__obj {
  margin-right: 15px;
}

.menu__obj a {
  color: var(--gray-m);
  text-decoration: none;
}

.menu__obj a:hover {
  color: var(--gren-m);
}

.menu-logo {
  width: 100px;
  margin: 0;
  padding-bottom: 0;
  float: right;
}

.pre-registro {
  padding: 160px 0 50px;
  text-align: center;
}

.pre-registro_botao {
  background-color: var(--red-m);
  color: white;
  width: 350px;
  border-radius: 30px;
  font-size: 1.2em;
}

.pre-registro_botao:hover {
  background-color: var(--dark-red-m);
}

.pre-registro_formulario {
  color: var(--red-m);
  font-size: 1.1em;
  background-color: white;
  width: 500px;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  border: 2px solid var(--dark-gray-m);
  border-radius: 30px;
  display: none;
}

.pre-registro_formulario > label {
  display: block;
}

.pre-registro_botao-enviar {
  margin-top: 300px;
  display: block;
  margin: auto;
}

.formulario_item:not(:last-child){
  margin-bottom: 10px;
}

.pre-registro_botao-enviar_container {
  padding: 10px 0 10px;
}

.pre-registro_botao-enviar:hover {
  background-color: var(--dark-gray-m);
}

.fases {
}

.fases_descricao {
  font-size: 2em;
  text-align: center;
  margin: auto;
  color: var(--dark-red-m);
  background-color: var(--gray-m);
  width: 500px;
  margin-bottom: 30px;
  border-radius: 30px;
  box-shadow: 10px 10px 15px var(--shadow-m);
}

.fases > .container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-around;
  gap: 5%;
}

.fases > .container > img {
  width: 330px;
  border-radius: 60px;
  margin-bottom: 3%;
  border: 10px solid;
  border-color: var(--cor-borda-img);
  box-shadow: 10px 10px 15px var(--shadow-m);
}

.img1 {
  --cor-borda-img: var(--dark-red-m);
}

.img2 {
  --cor-borda-img: var(--blue-m);
}

.img3 {
  --cor-borda-img: var(--dark-peach);
}

.img4 {
  --cor-borda-img: var(--dark-yellow-m);
}

.img5 {
  --cor-borda-img: var(--blue-m);
}

.img6 {
  --cor-borda-img: var(--gren-m);
}
.pre-registro {
  padding: 160px 0 50px;
  text-align: center;
}

.pre-registro_botao {
  background-color: var(--red-m);
  color: white;
  width: 350px;
  border-radius: 30px;
}

.pre-registro_botao:hover {
  background-color: var(--dark-red-m);
}

.botoes_redes{
  text-align: center;
  padding: 10%;
  font-size: 130%;
}

.botoes_redes > a {
  text-decoration: none;
}

.botao-rede-social{
  border-radius: 30px;
  border: 1px solid var(--dark-red-m);
  margin: 0 5px;
}

.instagram{
  width: 30px;
}

.nintendo{
  width: 30px;
}

.youtube{
  width: 30px;
}